@charset "utf-8";
/* CSS Document */

#container{
width:900px;
height:auto;
}
#header
{
width:900px;
height:50px;
background-color:#CCFF33;
}
#updates
{
width:900px;
height:30px;
background-color:#FFFF66;
float:left;
}
#side
{
width:160px;
clear:both;
height:400px;
float:left;
background-color:#CC66FF;
}

#main
{
width:690px;
clear:both;

height:400px;
float:left;
background-color:#0066FF;
}

#footer
{
clear:both;
width:900px;
height:50px;
background-color:#CCFFFF;
}

