@charset "utf-8";
/* CSS Document */

body
{
	margin-left:auto;
	margin-right:auto;
	padding:0;
	font-family: Verdana;
	background-repeat:no-repeat;	/*background-color: #5985f2;*/
	background-image:url(images/new.jpg);
	background-attachment:fixed;
	/*background-image:url(images/2652101930_7ba71e38ab_o.jpg);*/
	
			}
img1,a img{
	border:0;
}
#img
{


/*position:fixed;
*/}
#container img1{
width:960px;
height:150px;	
}
ul,ol,a{
	margin:0;
	padding:0;
}
p{
	font-family:Verdana;
	margin-top: 0;
	letter-spacing:0.08em;
	line-height:1.6em;
}
#container{
	width:960px;
	margin:0 auto;
	margin-top:10px;
}
#nav_php{
	width:315px;
	float:right;
	
}
#nav_php ul{
	list-style-type:none;
	font-size:0.7em;
}
#nav_php ul li{
	display:inline;
	
}
#nav_php ul li a{
	text-decoration:none;
	color:#333333;
}
#nav_php ul li a:hover{
	font-size:1.21em;
	color:#0000CC;
}
#nav{
	clear:right;
	margin-top:20px;
	
}
#nav ul li a img{
	height:36px;
	margin-bottom:8px;
}
#nav ul
{
	list-style-type:none;
}
#nav ul li
{
	float:left;
}
#nav ul li a
{
	float:left;
	text-decoration:none;
}
#nav_home
{
	margin-left:8px;
}
#nav_home img, #nav_tech img, #nav_idLb img, #nav_gmZn img, #nav_tweak img, #nav_ask img
{
	width:128px;
	height:50px;
	margin-right:8px;
}
#nav_abt img
{
	width:128px;
	height:50px;
}
#content
{	clear:both;
	font-size:12px;	
	margin-bottom:40px;
	height:auto;
	width:960px;
	}

#search_box
{
font-size:12px;
outline:groove;
outline-width:thin;
outline-color:#000000;
}

#left_bar
{
	float:left;
	height:auto;
	width:160px;
	/*background-color:#9FB3FD;*/
	margin-bottom:5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#main_content{
	float:left;
	width:560px;
	height:auto;
	padding-top: 45px;
	margin-bottom:5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left:7px;	
	
	font-size:12px;
	font-family:Verdana;
	
}
#right_bar
{
	float:left;
	width:160px;
	margin-left:7px;
	margin-right:auto;
	margin-bottom:auto;
	padding-top:45px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	
}
#footer
{
width:inherit;
background-color:#6B6B6B;
border-top:groove;
border-left:groove;
border-left-color:#000000;
border-top-color:#000000;
clear:both;	
padding-top: 4px;
}
		
fieldset{ background-color:#E4F8FA}
fieldset input,textarea,select { float : right; width :35%; border : 1px solid #e590b8; }
fieldset input:hover,textarea:hover ,select:hover{ border-color : #000; }
fieldset input:active, input:focus,textarea:active,textarea:focus,select:active,select:focus { border-color : #900; }
label, label span { display : block; padding-bottom : .25em; }
label { float : left; width : 100%; }
label span { float : left; width : 45%; text-align : right; letter-spacing:.1em; }

#button
{
margin-left:auto;
margin-right:auto;
height:auto;
width:860px;
clear:both;
}

#form
{
clear:both;
margin-left:auto;
margin-right:auto;
width:860px;
font-size:13px;
font-family:Verdana;
height:auto;
padding-top:20px;
padding-bottom:30px;
padding-left:40px;
text-align:center;
}


#form_signin
{
margin-left:auto;
float:right;
margin-right:auto;
width:360px;
font-size:13px;
font-family:Verdana;
height:auto;
padding-top:20px;
padding-bottom:30px;
padding-left:40px;
text-align:center;
}

#button_login
{
margin-left:auto;
margin-right:auto;
height:auto;
width:360px;
clear:both;
}

#form p 
{
font-size:13px;
padding-top:5px;
}

#form strong 
{
font-family:Verdana;
font-size:16px;
letter-spacing:.31em;
}

.style1 {color: #FF0000;
font-family:Verdana;
font-size:11px;
}
.style3 {
	font-size: 12px;
	font-family: Verdana;
}

.style2 
{
font-size: 11px;
color:#FF0000;
font-family:Verdana;
}
.style3 {color:#000000}
.style5 {color: #FFFFFF}

#sub_menu{
	clear:both;
	margin-top:20px;
	
}
#sub_menu ul li a img{
	height:36px;
	margin-bottom:8px;
}
#sub_menu ul
{
	list-style-type:none;
}
#sub_menu ul li
{
	float:left;
	display:list-item;
}
#sub_menu ul li a
{
	float:left;
	text-decoration:none;
}

#sub_menu_home img, #sub_menu_tech img, #sub_menu_idLb img, #sub_menu_gmZn img, #sub_menu_tweak img, #sub_menu_ask img,#sub_menu_lab img,#sub_menu_our_links img,#sub_menu_contact_us img,#sub_menu_feedback img,#sub_articles img
{
	width:128px;
	height:50px;
	margin-right:8px;
}
#sub_menu_abt img
{
	width:128px;
	height:50px;
}
#sub_menu ul li a:hover
{
	margin-left:20px;
	float:left;
	text-decoration:none;
}
#login_div
{
margin-left:auto;
float:right;
margin-right:auto;
width:900px;
font-size:12px;
font-family:Verdana;
height:auto;
padding-top:0px;
padding-bottom:10px;
padding-left:40px;
text-align:right;
padding-right:80px;
}

#login_div a:hover{
	font-size:1.21em;
	color:#0000CC;
}
#login_div a{
	text-decoration:none;
	color:#333333;
}
#cc_photo
{
width:130px;
height:100px;
background-image:url(images/hscream.jpg);
padding-left:5px;
padding-right:5px;
padding-top:10px;
padding-bottom:10px;

}
#cc_msg
{
margin-left:auto;
margin-right:auto;
width:550px;
font-size:15px;
font-family:Verdana;
height:auto;
padding-top:10px;
padding-bottom:10px;
padding-left:80px;
padding-right:20px;
}
#comment_form
{
clear:both;
margin-left:auto;
margin-right:auto;
width:535px;
font-size:15px;
font-family:Verdana;
height:auto;
padding-top:1px;
padding-bottom:1px;
padding-left:2px;
padding-right:2px;
}
#comment_1
{
clear:both;
width:525px;
font-size:10px;
font-family:Verdana;
height:auto;
padding-top:1px;
padding-bottom:1px;
padding-left:2px;
padding-right:2px;
}
#comment_2
{
clear:both;
margin-left:auto;
margin-right:auto;
width:525px;
font-size:13px;
font-family:Verdana;
height:auto;
padding-top:5px;
padding-bottom:5px;
padding-left:20px;
padding-right:2px;
}
#comment_3
{
clear:both;
margin-left:auto;
background:#999999;
color:#FFFFFF;
font-style:italic;
margin-right:auto;
width:525px;
font-size:15px;
font-family:Verdana;
height:auto;
padding-top:1px;
padding-bottom:1px;
padding-left:2px;
padding-right:2px;
}
#message_box
{
font-size:13px;
clear:both;
margin-left:auto;
margin-right:auto;
width:550px;
font-size:15px;
font-family:Verdana;
height:auto;
padding-top:25px;
padding-bottom:1px;
padding-left:5px;
padding-right:5px;
}
#answers
{
font-size:12px;
font-family:Verdana;
width:550px;
clear:both;
height:auto;
margin-left:auto;
margin-right:auto;
padding-left:7px;
}
.style6 {
	font-size: 16px;
	letter-spacing:.25em;
}


#game_top1 
{
padding-top:5px;
background-color:#CCCCCC;
}
#img_game
{
float:left;
height:16px;
width:16px;
}
#req_column
{
padding-left:10px;
padding-top:5px;
padding-right:10px;
background-color:#ECEEF3;

}
#game_content
{
padding-left:20px;
padding-top:25px;
padding-right:10px;
height:auto;
}
#seo{
font-size:10px;
}
#seo a:hover{
text-decoration:none;
}
#sub_menu_main
{
text-decoration:none;
width:125px;
height:67px;
float:none;

/*background-image:url(images/doon.png);*/
		}
#sub_menu_main ul
{
	list-style-type:none;
}